@inherits LayoutComponentBase
@using BlazorAppPaginationClient.Shared

<PageTitle>BlazorAppPaginationClient</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <LanguageSelector />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>




